.pageHome {
    min-height: 100%;
    padding: 30px 2%;

    &__content {
        min-height: 100%;
        padding: 20px 1.5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 5px;
        color: rgb(7, 49, 126);
        font-weight: 600;
        background: rgba(255, 247, 231, 0.65);
        box-shadow: 0 0 25px 25px rgba(255, 247, 231, 0.65);

        .headline {
            color: #f0ab2c;
            padding: 0px 5% 5px;
            margin: 5px auto 20px;
            text-align: center;
            letter-spacing: 1px;
            font-size: 36px;
            font-weight: 900;
            line-height: 1.05em;
            text-shadow: 0 3px 7px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 1), 
            0px 1px 1px rgba(0, 0, 0, 1),
            1px 0px 1px rgba(0, 0, 0, 1),
            0px 0px 1px rgba(0, 0, 0, 1),
            1px 1px 1px rgba(0, 0, 0, 1),;
            background: rgba(255, 255, 255, 0.35);
            box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.35);
            border-radius: 160px;

            @supports (-webkit-text-stroke: 1.6px rgb(10, 47, 114)) {
                font-weight: 900;
                -webkit-text-stroke: 1.6px rgb(10, 47, 114);
                -webkit-text-fill-color: rgb(233, 174, 24);
                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.603);
            }
        }

        .text {
            margin-bottom: 36px;
            font-size: 27px;
            text-align: center;
            padding: 10px 1%;
            font-weight: 800;
            color: #07317e;
            line-height: 1.2em;
        }

        .article {
            border-radius: 30px;
            padding: 35px 20px 50px;
            background: rgb(238, 219, 172);
            box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), inset 0 0 35px 4px rgba(187, 135, 4, 0.65);

            h2 {
                margin-bottom: 60px;
                font-size: 26px;
                text-align: center;
                color: #07317e;
                font-weight: bold;
            }

            .portfCardsWrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 8.5%;
                gap: calc(130px - 200 * (1px - (100vw/1900)));
                row-gap: calc(100px - 60 * (1px - (100vw/1900)));

                li {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}